<template>
  <div class="row">
    <div class="col-md-12">
      <card>
        <template slot="card-header-title">Master Pengguna</template>
				<div slot="card-body" class="card-body">
					<b-table striped hover :items="users" :fields="fields">
            <template v-slot:cell(address)="data">{{data.item.address.street}} - {{data.item.address.city}}</template>
						<template v-slot:cell(company)="data">
							<pre>{{data}}</pre>
						</template>
          </b-table>
				</div>
      </card>
    </div>
  </div>
</template>

<script>
import Card from '../components/Card'
import axios from 'axios'
export default {
  components: {
    Card
  },
  methods: {
    async getUserById () {
			const res = await axios.get('https://jsonplaceholder.typicode.com/users')
			if(res.data){
				this.users= res.data
			}
      console.log(res)
    }
  },
  created () {
    this.getUserById()
	},
	data: function (){
		return {
      fields: ['address', 'company'],
			users: []
    }
	}
}
</script>
