<template>
  <div class="row">
    <div class="col-md-12">
        <card>
            <template slot="card-header-title">Master User</template>
            <div slot="card-body" class="card-body">
                <b-button v-b-modal.modal-user variant='success' @click="addUser">Buat Baru</b-button>
                <div class="form-inline mb-3 float-right">
                    <div class="input-group">
                    <b-form-input
                        v-model="filter"
                        type="search"
                        id="filterInput"
                        placeholder="Type to Search"
                    ></b-form-input>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                        <i class="fa fa-search fa-fw"></i>
                        </button>
                    </div>
                    </div>
                </div>

                <b-table
                show-empty
                stacked="md"  
                :fields="fields" 
                :items="users" 
                :per-page="perPage" 
                :current-page="currentPage"
                :filter="filter"
                :filterIncludedFields="filterOn" 
                :sort-by.sync="sortBy"
                :sort-desc.sync="sortDesc"
                :sort-direction="sortDirection"
                 @filtered="onFiltered"
                responsive="sm"
                >
                    <template v-slot:cell(address)="data">{{data.item.address}}</template>
                    <template v-slot:cell(company)="data"><pre>{{data.item.company}}</pre></template>
                    <template v-slot:cell(action)="data">
                        <b-button size="sm" @click="updateUser(data)" class='mr-2' variant='primary'>
                            Update
                        </b-button>
                        <b-button size="sm" @click="del(data.item.id)" class='mr-2' variant='danger'>
                            Delete
                        </b-button>
                    </template>
                </b-table>

                <div>
                    Sorting By: <b>{{ sortBy }}</b>, Sort Direction:
                    <b>{{ sortDesc ? 'Descending' : 'Ascending' }}</b>
                </div>

                <div class="text-right">
                    <b-pagination v-model="currentPage" :total-rows="rows" :per-page="perPage" class="d-inline-flex mb-0"></b-pagination>
                </div>

                <b-modal id="modal-user" title="Form Pengguna" centered ok-only :no-close-on-backdrop="true" @ok='submit' ok-title="Simpan">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="hidden" name="id" class="form-control" id="id" v-model="id">
                            <input type="hidden" name="actions" class="form-control" id="actions" v-model="actions">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="username" class="col-sm-4 col-form-label">Username</label>
                        <div class="col-sm-8">
                        <input type="text" name="username" class="form-control" id="username" v-model="username" v-validate="'required'">
                        <div class="invalid-feedback">{{ errors.first('username') }}</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="username" class="col-sm-4 col-form-label">Email</label>
                        <div class="col-sm-8">
                        <input type="text" name="email" class="form-control" id="email" v-model="email" v-validate="'required'">
                        <div class="invalid-feedback">{{ errors.first('email') }}</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="username" class="col-sm-4 col-form-label">address</label>
                        <div class="col-sm-8">
                            <input type="text" name="address" class="form-control" id="address" v-model="address" v-validate="'required'">
                            <div class="invalid-feedback">{{ errors.first('address') }}</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="phone" class="col-sm-4 col-form-label">Phone</label>
                        <div class="col-sm-8">
                        <input type="text" name="phone" class="form-control" id="phone" v-model="phone" v-validate="'required'">
                        <div class="invalid-feedback">{{ errors.first('phone') }}</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="phone" class="col-sm-4 col-form-label">Website</label>
                        <div class="col-sm-8">
                        <input type="text" name="website" class="form-control" id="website" v-model="website" v-validate="'required'">
                        <div class="invalid-feedback">{{ errors.first('website') }}</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="phone" class="col-sm-4 col-form-label">Company</label>
                        <div class="col-sm-8">
                        <input type="text" name="company" class="form-control" id="company" v-model="company" v-validate="'required'">
                        <div class="invalid-feedback">{{ errors.first('company') }}</div>
                        </div>
                    </div>
                </b-modal>
            </div>
        </card>
    </div>
  </div>
</template>

<script>
import Card from '../components/Card'
import axios from 'axios'
export default {
    components: {
        Card
    },
    
    computed: {
        rows: function () {
            return this.users.length
        },

        sortOptions() {
        // Create an options list from our fields
            return this.fields
            .filter(f => f.sortable)
            .map(f => {
                return { text: f.label, value: f.key }
            })
        }

    },

    mounted() {
      // Set the initial number of items
      this.totalRows = this.items.length
    
    },
    
    data: function (){
        return {
            perPage: 3,
            currentPage: 1,
            sortBy: '',
            sortDesc: false,
            sortDirection: 'asc',
            filter: null,
            filterOn: [],
            fields: [
                { key: 'id', sortable: true }, 
                { key: 'username', sortable: true },
                { key: 'address', sortable: true }, 
                { key: 'company', sortable: true }, 
                {
                    key: 'action',
                    label: 'Action',
                    formatter: (value, key, item) => {
                        return item.id
                    }
                }
            ],
            users: [],
            actions: ''
        }
    },
    methods: {

        onFiltered(filteredItems) {
            // Trigger pagination to update the number of buttons/pages due to filtering
            this.totalRows = filteredItems.length
            this.currentPage = 1
        },

        setSession (){
            const obj = {
                userId: 'azhar',
                email : 'azhar@gmail.com',
                toke : 'absurdbanget'
            }

            localStorage.setItem('username', obj.userId)
            localStorage.setItem('token', obj.token)
            localStorage.setItem('email', obj.email)

            localStorage.setItem('session', JSON.stringify(obj))
        },

        getSession (){
            let username_session = localStorage.getItem('username')
            let username_obj = localStorage.getItem('session')

            console.log("Session username :", username_session)
            console.log("Session obj :", JSON.parse(username_obj))
        },

        deleteSession (){
            localStorage.removeItem('session')
        },

        async getUserById () {
            const res = await axios.get('http://localhost:3000/users')
            if(res.data){
                this.users= res.data
                console.log(res)
            }
            console.log(res)
        },
        
        addUser: function () {
            this.getSession ()
            this.id = 0
            this.email = ''
            this.username = ''
            this.phone = ''
            this.address=''
            this.website=''
            this.company=''
            this.$bvModal.show('modal-user')
            this.actions='add'
            console.log('type :',actions)
        },

        updateUser (data) {
            this.clearForm ()
            this.$bvModal.show('modal-user')
            this.actions='edit'
            this.id = data.item.id
            this.username = data.item.username
            this.email = data.item.email
            this.address = data.item.address
            this.phone = data.item.phone
            this.website = data.item.website
            this.company = data.item.company
            console.log('type :', this.actions)
            console.log('getData :',data.item)
        },

        saveUser () {
            axios.post('http://localhost:3000/users/', {
            username: this.username,
            email: this.email,
            address: this.address,
            website: this.website,
            company: this.company,
            phone: this.phone
            }).then(res => {
            this.getUserById ()
        })
        },

        del (data){
            //console.log('data:', data)
            axios.delete('http://localhost:3000/users/'+ data).then(res =>{
                this.getUserById()
                let index = this.users.indexOf({
                    username: this.username,
                    email: this.email,
                    address: this.address,
                    website: this.website,
                    company: this.company,
                    phone: this.phone
                })
                this.users.splice(index,1)
            })
        },

        clearForm () {
            this.actions= ''
            this.id = ''
            this.username = ''
            this.email = ''
            this.address = ''
            this.phone = ''
            this.website = ''
            this.company = ''
        },

        submit (){
            if(this.actions=='add'){
                axios.post('http://localhost:3000/users/', {
                    username: this.username,
                    email: this.email,
                    address: this.address,
                    website: this.website,
                    company: this.company,
                    phone: this.phone
                }).then(res => {
                    this.getUserById ()
                })
            }else{
                this.update (this.id)
            }
        },

        update (data){
            //console.log('data :',  data)
            return axios.put('http://localhost:3000/users/' + data , {
                username: this.username,
                email: this.email,
                address: this.address,
                website: this.website,
                company: this.company,
                phone: this.phone
            }).then(res => {
            this.getUserById ()
            this.clearForm ()
            }).catch((err) => {
                console.log(err);
            })
        }

    },
    created () {
        this.getUserById ()
        this.setSession ()
        this.clearForm ()

    }
}
</script>
